extends layout

block content
  head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/loginstyle.css')
  body
    .reg
      
      .regstertag
       p Sign In
      br
      hr
      form(method='POST' action='/users/login')
        
          label Username:
          input.form-control(type='text', placeholder='name@email.com' name='username')
          br
          label Password:
          input.form-control(type='password' name='password')        
          br
          hr
          input.btn.btn-primary(type='submit' value='Sign In')
